<<<<<<< HEAD
.App{
    background-color: black;
    color: white;
    font-family: sans-serif;
=======
.App{
    background-color: black;
    color: white;
    font-family: sans-serif;
>>>>>>> master
}